.cart {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart_buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.cart_button{
    position: absolute;
    top: 27px;
    right: 5%;
}

.cart_title {
    width: 100%;
    height: 10%;
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.cart_content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cart_section {
    background: linear-gradient(135deg, #ffe5e5, #ffffff);
    width: 350px;
    height: 300px;
    text-align: center;
    padding: 15px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item_title{
    font-family: monospace;
    font-size: larger;
}

.cart_images {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.cart_image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #ddd;
}

.cart_price {
    font-size: 20px;
    color: #e91e63;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart_link{
    display: flex;
    justify-content: space-around;
}

.btn {
    display: inline-block;
    background-color: #ff6a9c;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #d81b60;
}

form button[type="submit"] {
    background-color: #f44336;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #d32f2f;
}

.nav_content{
    height: 25%;
    align-content: center;
}

.reserve_nav{
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 5%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
}

.product-list{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}
