.payment_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 89vh;
    width: 100vw;
    background: #f4f4f4;
}

.content_main {
    background: #fff;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cart_back_btn {
    position: absolute;
    top: 12%;
    right: 10%;
    text-align: center;
    margin: 10px 0;
    background-color: #fff9f9;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cart_back_btn:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #666;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}

.total_amount {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #d9534f;
}

.alert_danger{
    width: 100%;
    text-align: center;
}

.success_message, .error_message {
    opacity: 0;
    transform: translateY(20px);
    animation: float 0.5s forwards;
    transition: opacity 0.5s ease;
    color: #937b5e;
}

.error_ul{
    list-style: none;
}

@keyframes float {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.success_message{
    position: absolute;
    bottom: 3%;
    right: 45%;
}

@media screen and (max-width: 480px) {
    .content_main {
    width: 250px;
}
}

