.notification_show_back_button{
    text-align: center;
    width: 100%;
    height: 10%;
    align-content: center;
}

.notification_show_back_button_link{
    position: absolute;
    right: 10%;
    top: 3%;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    color: #5c5c5c;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.notification_show_back_button_link:hover{
    background-color: #e0e0e0;
    color: #5c5c5c;
}
