.user_edit{
    width: 100vw;
    height: 89vh;
    background-color: #f2f2f2;
}

.user_edit_inner{
    height: 50%;
    padding: 0 20% 5%;
}

.sale_profile {
    display: flex;
    justify-content: end;
    height: 15%;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 5%;
}

.profile_link {
    text-align: center;
    margin: 10px 0;
    background-color: #ffe3e3;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile_link:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.user_edit_title{
    font-size: 1.5rem;
    font-family: system-ui;
    font-weight: bold;
    width: 100%;
    height: 8%;
    text-align: center;
    color: #8a8a8a;
}

.user_edit_form{
    width: 100%;
    margin-top: 3%;
    text-align: center;
    height: 50%;
}

.user_edit_content{
    display: flex;
    width: 100%;
    height: 20%;
    margin-top: 3%;
}

.content_title{
    width: 30%;
    align-content: center;
}

#input_id{
    width: 50%;
    border: none;
    padding-left: 1%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    color: rgb(138, 138, 138);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#input_id:hover{
    background-color: #e0e0e0;
    color: #5c5c5c;
}

.profile_image_label{
    width: 50%;
    text-align: center;
    align-content: center;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    color: rgb(138, 138, 138);
    background-color: #fbfbfb;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.profile_image_label:hover {
    background-color: #e0e0e0;
    color: #5c5c5c;
}

#file_name{
    width: 20%;
    align-content: center;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    color: rgb(138, 138, 138);
    font-size: 0.7rem;
    background-color: #fbfbfb;
}

#profile_image{
    display: none;
    cursor: pointer;
}

.user_edit_button{
    text-align: center;
    margin-top: 5%;
}

.user_edit_button_button{
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    color: #5c5c5c;
    border: none;
    padding: 1% 3%;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.user_edit_button_button:hover{
    background-color: #e0e0e0;
    color: #5c5c5c;
}

.success_message, .error_message {
    opacity: 0;
    transform: translateY(20px); /* メッセージを下に少し移動させる */
    animation: float 0.5s forwards; /* アニメーションを適用 */
    transition: opacity 0.5s ease; /* フェードインの効果 */
    color: #937b5e;
}

@keyframes float {
    to {
        opacity: 1;
        transform: translateY(0); /* 元の位置に戻す */
    }
}
